* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

main {
    max-width: 900px;
    width: 90%;
    margin: auto;
}

.jatekter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.jatekter div {
    aspect-ratio: 1;
    border: 1px solid gray;
    border-radius: 100px;
    font-size: 35px;
    cursor: grab;
}

.felkapcsolt {
    background-color: yellow;
}

.lekapcsolt {
    background-color: green;
}